/* import font-family from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Diphylleia&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Diphylleia', serif;
}

/* body tag */
body {
    background: linear-gradient(45deg, sandybrown, transparent);
    height: 100%;
}

/* main container */
.main {
    display: grid;
    grid-template-rows: 80px auto;
    margin: auto;
    max-width: 95vw;
    padding: 40px;
    /* width: 100%; */
    height: 100%;
    gap: 67px;
    /* background: linear-gradient( 36deg,seagreen , yellowgreen, #f19c00); */
    /* background: linear-gradient(180deg, #ffff54,#ec75ec, firebrick); */
}

/* header container */
h1 {
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    text-decoration: underline;
    /* margin: auto; */
}

/* play container */
.play {
    width: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 40px;
    padding: 20px 8px;
    box-shadow: 7px 7px 10px 5px lightcoral;
    /* border: 2px solid red; */
}

/* user box */
.user {
    /* border: 2px solid blue; */
    height: 100%;
    width: 60%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}

.snake,
.water,
.gun {
    padding: 15px;
    border-radius: 50%;
    background-color: #fff;
    width: fit-content;
    box-shadow: 2px 6px 6px 2px black;
    /* border: 2px solid indigo; */
    cursor: pointer;
}

.water {
    padding: 25px;
}

.gun {
    padding: 30px;
}

.snake img {
    height: 145px;
}

.water img {
    height: 110px;
}

.gun img {
    height: 95px;
}

/* v/s container */
.compare {
    width: 148px;
}

.compare p {
    font-size: 72px;
    font-weight: 700;
}

/* computer box */
.comp {
    /* border: 2px solid green; */
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#comp {
    height: 380px;
    cursor: pointer;
}

/* pop-up container */
.pop-up {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: black;
    transform: translate(-50%, -50%);
    /* border: 2px solid black; */
    width: 320px;
    height: 230px;
    color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0px 0px 14px 14px mediumseagreen;
}

.para {
    margin: 20px;
}

#btn {
    padding: 4px 12px 6px;
    font-size: 17px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 7px;
    border: none;
}

/* input field */
#input {
    display: none;
}